In [1]:
from get_match_data import wc_rankings, wc_start, get_data
from precompute import get_groups
from prediction_model import get_model
from simulation import Simulation
from evaluation import common_winners, get_prob_df

In [2]:
YEAR = 2022  # year for the model
rankings, data = get_data(YEAR)
logreg, match_data = get_model(data, report=True)

Mean Validation accuracy: 0.7497727809059873
Test data model accuracy: 0.756581409856519

               precision    recall  f1-score   support

       False       0.78      0.84      0.81      4891
        True       0.72      0.62      0.67      3124

    accuracy                           0.76      8015
   macro avg       0.75      0.73      0.74      8015
weighted avg       0.75      0.76      0.75      8015

In [3]:
match_data

,date,team,opponent,team_score,opponent_score,tournament,city,country,neutral,year,team_rank,team_points,opponent_rank,opponent_points,rank_diff,avg_rank,score_diff,team_won,result,comp
10,1998-01-10,Malawi,Zambia,0.0,1.0,COSAFA Cup qualification,Blantyre,Malawi,False,1998,119,1333.92,54,1616.70,65,86.5,-1.0,False,-1.0,False
589,1998-01-10,Zambia,Malawi,1.0,0.0,COSAFA Cup qualification,Blantyre,Malawi,False,1998,54,1616.70,119,1333.92,-65,86.5,1.0,True,1.0,False
4,1998-01-18,Lesotho,Zimbabwe,0.0,2.0,COSAFA Cup qualification,Maseru,Lesotho,False,1998,152,1159.80,86,1471.12,66,119.0,-2.0,False,-1.0,False
681,1998-01-18,Zimbabwe,Lesotho,2.0,0.0,COSAFA Cup qualification,Maseru,Lesotho,False,1998,86,1471.12,152,1159.80,-66,119.0,2.0,True,1.0,False
49,1998-01-24,South Africa,Namibia,2.0,3.0,COSAFA Cup qualification,Windhoek,Namibia,False,1998,46,1657.97,112,1364.70,-66,79.0,-1.0,False,-1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40043,2022-12-02,Portugal,South Korea,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True,2022,6,1990.70,25,1795.49,-19,15.5,NaN,False,NaN,True
40012,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True,2022,57,1626.13,1,2158.46,56,29.0,NaN,False,NaN,True
39911,2022-12-02,Brazil,Cameroon,NaN,NaN,FIFA World Cup,Lusail,Qatar,True,2022,1,2158.46,57,1626.13,-56,29.0,NaN,False,NaN,True
39683,2022-12-02,Uruguay,Ghana,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True,2022,12,1917.37,75,1540.00,-63,43.5,NaN,False,NaN,True
40054,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True,2022,16,1852.30,13,1913.10,3,14.5,NaN,False,NaN,True

In [4]:
#y = 2022
#df = wc_rankings("1998-01-01", wc_start[y])
#df.to_csv(f"data/rankings{str(y)[-2:]}.csv", index=False)

In [5]:
s = Simulation(YEAR, logreg, match_data)

In [6]:
s.get_knockout_round(True)
s.simulate_tournament(False, True)

Group Winners: [['Netherlands', 'Ecuador'], ['United States', 'Iran'], ['Argentina', 'Mexico'], ['Denmark', 'France'], ['Japan', 'Germany'], ['Canada', 'Belgium'], ['Serbia', 'Brazil'], ['Portugal', 'Uruguay']]

R16:  ['Netherlands', 'Iran', 'Argentina', 'France', 'Japan', 'Belgium', 'Serbia', 'Uruguay', 'United States', 'Ecuador', 'Denmark', 'Mexico', 'Canada', 'Germany', 'Portugal', 'Brazil']
QF: ['Netherlands', 'Argentina', 'Belgium', 'Uruguay', 'Ecuador', 'Denmark', 'Germany', 'Brazil']
SF: ['Argentina', 'Belgium', 'Denmark', 'Brazil']
B : ['Belgium', 'Denmark']
F : ['Argentina', 'Brazil']
third: ['Belgium']
champ: ['Brazil']

('Brazil', 'Argentina', 'Belgium', 'Denmark')

In [7]:
s.simulate_knockout_round(s.get_knockout_round(False), pr=False)
print(s.get_result("r16"))
print(s.get_result("QF"))
print(s.get_result("SF"))
print(s.get_result("final"))
print(s.get_result("summary"))

['Netherlands', 'Iran', 'Argentina', 'Tunisia', 'Germany', 'Croatia', 'Brazil', 'South Korea', 'England', 'Ecuador', 'France', 'Poland', 'Belgium', 'Spain', 'Uruguay', 'Serbia']
['Netherlands', 'Argentina', 'Germany', 'Brazil', 'England', 'France', 'Spain', 'Uruguay']
['Netherlands', 'Germany', 'France', 'Uruguay']
['Germany', 'Uruguay']
['Germany', 'Uruguay', 'France', 'Netherlands']

In [8]:
results = s.get_simulation_results(10000)

In [9]:
#results[0]

In [10]:
common_winners(results, YEAR, 10000)

Most common winners of 2022 World Cup...
Brazil: 30.7%
Argentina: 22.6%
France: 13.3%
Belgium: 8.8%
Spain: 7.3%
Portugal: 3.4%
England: 3.3%
Netherlands: 3.0%
Germany: 2.5%
Denmark: 2.1%

In [11]:
groups_list = get_groups(YEAR).values()
probs = get_prob_df(results, groups_list, 10000)
probs

             team    r16     QF     SF  final  champ
0           Qatar  18.56   3.23   0.35   0.02   0.00
1         Ecuador  67.20  28.28   6.55   1.59   0.28
2         Senegal  25.38   5.57   0.65   0.06   0.00
3     Netherlands  88.86  58.63  22.56   8.40   2.97
4         England  80.06  55.86  24.10  10.50   3.27
5            Iran  40.57  16.41   3.34   0.65   0.11
6   United States  39.75  16.09   3.20   0.71   0.09
7           Wales  39.62  15.93   2.99   0.58   0.06
8       Argentina  96.36  73.17  59.11  34.97  22.62
9    Saudi Arabia  11.00   0.94   0.07   0.01   0.00
10         Mexico  52.12  12.31   4.53   0.80   0.11
11         Poland  40.52   8.00   2.44   0.47   0.11
12         France  93.37  66.06  49.14  28.67  13.30
13      Australia  16.08   2.15   0.49   0.03   0.00
14        Denmark  81.44  36.38  20.34   7.08   2.11
15        Tunisia   9.11   0.99   0.14   0.01   0.00
16          Spain  87.40  61.21  30.14  15.86   7.33
17     Costa Rica  12.92   2.20   0.36   0.07   0.02
18        Germany  75.93  42.14  18.28   7.26   2.55
19          Japan  23.75   6.28   1.33   0.23   0.03
20        Belgium  89.90  58.59  34.87  20.10   8.76
21         Canada  32.38   6.93   1.09   0.16   0.03
22        Morocco  21.83   4.13   0.60   0.09   0.02
23        Croatia  55.89  18.52   5.34   1.38   0.29
24         Brazil  95.04  80.06  61.14  42.27  30.68
25         Serbia  40.71  14.65   3.96   0.87   0.17
26    Switzerland  58.49  26.65   9.41   3.27   0.76
27       Cameroon   5.76   0.67   0.06   0.02   0.00
28       Portugal  85.49  44.17  21.24   9.82   3.44
29          Ghana   3.56   0.12   0.00   0.00   0.00
30        Uruguay  73.84  26.47  10.37   3.61   0.81
31    South Korea  37.11   7.21   1.81   0.44   0.08

In [12]:
probs[probs['team'] == "Senegal"]
probs.describe()

             r16         QF         SF      final      champ
count  32.000000  32.000000  32.000000  32.000000  32.000000
mean   50.000000  25.000000  12.500000   6.250000   3.125000
std    30.703158  24.685376  17.420301  10.848781   6.936503
min     3.560000   0.120000   0.000000   0.000000   0.000000
25%    23.270000   5.210000   0.637500   0.085000   0.020000
50%    40.640000  16.010000   3.650000   0.755000   0.110000
75%    80.405000  42.647500  20.565000   7.545000   2.655000
max    96.360000  80.060000  61.140000  42.270000  30.680000

In [13]:
probs[probs['r16'] >= 50]
probs[probs['QF'] >= 25]
probs[(probs['r16'] >= 50) & (probs['QF'] >= 25)]
probs[(probs['r16'] >= 50) & (probs['QF'] >= 25)]
probs[probs['SF'] >= 12.5]

probs[(~(probs['r16'] < 2 * probs['QF'])) & (probs['QF'] >= 25) ]
probs[(~(probs['QF'] < 2 * probs['SF'])) & (probs['SF'] >= 12.5) ]
probs[probs['SF'] >= 12.5]

           team    r16     QF     SF  final  champ
3   Netherlands  88.86  58.63  22.56   8.40   2.97
4       England  80.06  55.86  24.10  10.50   3.27
8     Argentina  96.36  73.17  59.11  34.97  22.62
12       France  93.37  66.06  49.14  28.67  13.30
14      Denmark  81.44  36.38  20.34   7.08   2.11
16        Spain  87.40  61.21  30.14  15.86   7.33
18      Germany  75.93  42.14  18.28   7.26   2.55
20      Belgium  89.90  58.59  34.87  20.10   8.76
24       Brazil  95.04  80.06  61.14  42.27  30.68
28     Portugal  85.49  44.17  21.24   9.82   3.44

In [14]:
def evaluate_groups(group, iterations):
    winners_dict = {}
    finalists_dict = {}
    for i in range(iterations):
        gw = s.get_knockout_round_group(group, False) #gw = get_knockout_round(groups_list[YEAR], False)
        if gw[0] in winners_dict.keys():
            winners_dict[gw[0]] += 1
        else:
            winners_dict[gw[0]] = 1
            
        gw_set = frozenset(gw)
        if gw_set in finalists_dict.keys():
            finalists_dict[gw_set] += 1
        else:
            finalists_dict[gw_set] = 1

    print(f"{YEAR}: GROUP= {group} ...")

    print("Most common group winners")        
    for team, num in sorted(winners_dict.items(), key=lambda x:x[1], reverse=True):
        print(f"{team}: {round((num / iterations) * 100, 1)}%")

    print("\nMost common advancing pair")
    for teams, num in sorted(finalists_dict.items(), key=lambda x:x[1], reverse=True):
        print(f"{list(teams)}: {round((num / iterations) * 100, 1)}%")

for group in get_groups(YEAR).values():
    evaluate_groups(group, 1000)
    print('\n')

2022: GROUP= ['Qatar', 'Ecuador', 'Senegal', 'Netherlands'] ...
Most common group winners
Netherlands: 60.8%
Ecuador: 27.1%
Senegal: 8.0%
Qatar: 4.1%

Most common advancing pair
['Netherlands', 'Ecuador']: 55.4%
['Senegal', 'Netherlands']: 19.2%
['Qatar', 'Netherlands']: 13.4%
['Senegal', 'Ecuador']: 6.3%
['Qatar', 'Ecuador']: 4.0%
['Qatar', 'Senegal']: 1.7%


2022: GROUP= ['England', 'Iran', 'United States', 'Wales'] ...
Most common group winners
England: 55.9%
Wales: 15.2%
Iran: 14.6%
United States: 14.3%

Most common advancing pair
['Iran', 'England']: 28.0%
['United States', 'England']: 26.6%
['Wales', 'England']: 25.3%
['Wales', 'United States']: 7.4%
['Wales', 'Iran']: 6.7%
['Iran', 'United States']: 6.0%


2022: GROUP= ['Argentina', 'Saudi Arabia', 'Mexico', 'Poland'] ...
Most common group winners
Argentina: 80.6%
Mexico: 10.7%
Poland: 7.2%
Saudi Arabia: 1.5%

Most common advancing pair
['Argentina', 'Mexico']: 51.2%
['Poland', 'Argentina']: 35.7%
['Saudi Arabia', 'Argentina']: 8.6%
['Poland', 'Mexico']: 2.9%
['Poland', 'Saudi Arabia']: 1.0%
['Saudi Arabia', 'Mexico']: 0.6%


2022: GROUP= ['France', 'Australia', 'Denmark', 'Tunisia'] ...
Most common group winners
France: 65.2%
Denmark: 30.9%
Australia: 2.6%
Tunisia: 1.3%

Most common advancing pair
['Denmark', 'France']: 74.7%
['Australia', 'France']: 11.2%
['Tunisia', 'France']: 7.3%
['Australia', 'Denmark']: 5.1%
['Tunisia', 'Denmark']: 1.3%
['Tunisia', 'Australia']: 0.4%


2022: GROUP= ['Spain', 'Costa Rica', 'Germany', 'Japan'] ...
Most common group winners
Spain: 57.6%
Germany: 34.3%
Japan: 5.4%
Costa Rica: 2.7%

Most common advancing pair
['Spain', 'Germany']: 63.4%
['Japan', 'Spain']: 16.7%
['Japan', 'Germany']: 7.7%
['Costa Rica', 'Spain']: 7.3%
['Costa Rica', 'Germany']: 4.3%
['Costa Rica', 'Japan']: 0.6%


2022: GROUP= ['Belgium', 'Canada', 'Morocco', 'Croatia'] ...
Most common group winners
Belgium: 69.7%
Croatia: 17.6%
Canada: 8.0%
Morocco: 4.7%

Most common advancing pair
['Belgium', 'Croatia']: 48.6%
['Belgium', 'Canada']: 23.8%
['Belgium', 'Morocco']: 17.4%
['Croatia', 'Canada']: 5.2%
['Croatia', 'Morocco']: 3.4%
['Morocco', 'Canada']: 1.6%


2022: GROUP= ['Brazil', 'Serbia', 'Switzerland', 'Cameroon'] ...
Most common group winners
Brazil: 78.2%
Switzerland: 14.4%
Serbia: 6.9%
Cameroon: 0.5%

Most common advancing pair
['Brazil', 'Switzerland']: 53.9%
['Brazil', 'Serbia']: 35.7%
['Serbia', 'Switzerland']: 5.2%
['Brazil', 'Cameroon']: 4.6%
['Serbia', 'Cameroon']: 0.3%
['Cameroon', 'Switzerland']: 0.3%


2022: GROUP= ['Portugal', 'Ghana', 'Uruguay', 'South Korea'] ...
Most common group winners
Portugal: 54.9%
Uruguay: 34.0%
South Korea: 10.4%
Ghana: 0.7%

Most common advancing pair
['Portugal', 'Uruguay']: 59.3%
['Portugal', 'South Korea']: 24.5%
['Uruguay', 'South Korea']: 11.9%
['Portugal', 'Ghana']: 2.4%
['Ghana', 'Uruguay']: 1.3%
['Ghana', 'South Korea']: 0.6%

In [15]:
rankings[rankings["Year"] == YEAR][:15]
# NOTE: 199/900 world cup games end in draw  # 0.2211111111111111
# NOTE: 10084/43752 of all games end in draw. # 0.2304808923020662

      Rank         Team    Score  Year
4737     1       Brazil  2158.46  2022
4738     2    Argentina  2125.69  2022
4739     3       France  2066.26  2022
4740     4      Belgium  2049.74  2022
4741     5        Spain  2043.33  2022
4742     6     Portugal  1990.70  2022
4743     7        Italy  1988.55  2022
4744     8      England  1982.91  2022
4745     9  Netherlands  1976.74  2022
4746    10      Germany  1971.34  2022
4747    11      Denmark  1951.27  2022
4748    12      Uruguay  1917.37  2022
4749    13  Switzerland  1913.10  2022
4750    14     Colombia  1896.52  2022
4751    15      Croatia  1873.81  2022