In [1]:
from get_match_data import wc_rankings, wc_start, get_data
from group_stages import groups_list
from prediction_model import get_model
from simulation import Simulation
from evaluation import common_winners

In [2]:
YEAR = 2018  # year for the model
rankings, data = get_data(YEAR)
logreg, match_data = get_model(data, report=True)

Mean Validation accuracy: 0.7466066164815621
Test data model accuracy: 0.754321554229769

               precision    recall  f1-score   support

       False       0.78      0.84      0.81      3980
        True       0.71      0.62      0.67      2557

    accuracy                           0.75      6537
   macro avg       0.74      0.73      0.74      6537
weighted avg       0.75      0.75      0.75      6537

Baseline {predict higher ranked team}:
               precision    recall  f1-score   support

       False       0.84      0.69      0.76      3980
        True       0.62      0.79      0.70      2557

    accuracy                           0.73      6537
   macro avg       0.73      0.74      0.73      6537
weighted avg       0.75      0.73      0.73      6537

In [3]:
match_data

,date,team,opponent,team_score,opponent_score,tournament,city,country,neutral,year,team_rank,team_points,opponent_rank,opponent_points,rank_diff,avg_rank,score_diff,team_won,result,comp
589,1998-01-10,Zambia,Malawi,1,0,COSAFA Cup qualification,Blantyre,Malawi,False,1998,54,1616.70,119,1333.92,-65,86.5,1,True,1,False
10,1998-01-10,Malawi,Zambia,0,1,COSAFA Cup qualification,Blantyre,Malawi,False,1998,119,1333.92,54,1616.70,65,86.5,-1,False,-1,False
4,1998-01-18,Lesotho,Zimbabwe,0,2,COSAFA Cup qualification,Maseru,Lesotho,False,1998,152,1159.80,86,1471.12,66,119.0,-2,False,-1,False
681,1998-01-18,Zimbabwe,Lesotho,2,0,COSAFA Cup qualification,Maseru,Lesotho,False,1998,86,1471.12,152,1159.80,-66,119.0,2,True,1,False
393,1998-01-24,Namibia,South Africa,3,2,COSAFA Cup qualification,Windhoek,Namibia,False,1998,112,1364.70,46,1657.97,66,79.0,1,True,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33723,2018-12-06,Philippines,Vietnam,1,2,AFF Championship,Hanoi,Vietnam,False,2018,149,1172.39,128,1277.79,21,138.5,-1,False,-1,False
33718,2018-12-11,Malaysia,Vietnam,2,2,AFF Championship,Kuala Lumpur,Malaysia,False,2018,160,1057.30,128,1277.79,32,144.0,0,False,0,False
34477,2018-12-11,Vietnam,Malaysia,2,2,AFF Championship,Kuala Lumpur,Malaysia,False,2018,128,1277.79,160,1057.30,-32,144.0,0,False,0,False
33720,2018-12-15,Malaysia,Vietnam,0,1,AFF Championship,Hanoi,Vietnam,False,2018,160,1057.30,128,1277.79,32,144.0,-1,False,-1,False
34476,2018-12-15,Vietnam,Malaysia,1,0,AFF Championship,Hanoi,Vietnam,False,2018,128,1277.79,160,1057.30,-32,144.0,1,True,1,False

In [4]:
#for y in wc_start:
#    print(y)

#y = 2022
#df = wc_rankings("1998-01-01", wc_start[y])
#df.to_csv(f"data/rankings{str(y)[-2:]}.csv", index=False)

In [5]:
s = Simulation(YEAR, groups_list[YEAR], logreg, match_data)

In [6]:
s.simulate_tournament(False, True)

Group Winners: [['Uruguay', 'Russia'], ['Iran', 'Spain'], ['Denmark', 'Peru'], ['Argentina', 'Iceland'], ['Brazil', 'Serbia'], ['Mexico', 'Germany'], ['Panama', 'England'], ['Poland', 'Japan']]

R16:  ['Uruguay', 'Spain', 'Denmark', 'Iceland', 'Brazil', 'Germany', 'Panama', 'Japan', 'Iran', 'Russia', 'Argentina', 'Peru', 'Mexico', 'Serbia', 'Poland', 'England']
qf: ['Uruguay', 'Denmark', 'Brazil', 'Japan', 'Iran', 'Argentina', 'Mexico', 'England']
sf: ['Denmark', 'Brazil', 'Iran', 'England']
B  : ['Denmark', 'Iran']
F  : ['Brazil', 'England']
third: ['Denmark']
champ: ['England']

('England', 'Brazil', 'Denmark', 'Iran')

In [7]:
s.simulate_knockout_round(s.get_knockout_round(False), pr=False)
print(s.get_result("r16"))
print(s.get_result("qf"))
print(s.get_result("sf"))
print(s.get_result("final"))
print(s.get_result("summary"))

['Saudi Arabia', 'Spain', 'France', 'Argentina', 'Brazil', 'South Korea', 'England', 'Senegal', 'Portugal', 'Egypt', 'Croatia', 'Denmark', 'Germany', 'Serbia', 'Poland', 'Belgium']
['Saudi Arabia', 'France', 'Brazil', 'Senegal', 'Portugal', 'Croatia', 'Germany', 'Belgium']
['Saudi Arabia', 'Brazil', 'Portugal', 'Germany']
['Brazil', 'Germany']
['Brazil', 'Germany', 'Portugal', 'Saudi Arabia']

In [8]:
s.get_knockout_round(True)

0-0 Uruguay draws Russia [0.59, 0.26, 0.15] ->  0
2-0 Uruguay beats Saudi Arabia: [0.74, 0.17, 0.09] ->  1
4-0 Uruguay beats Egypt: [0.64, 0.23, 0.13] ->  1
2-1 Russia beats Saudi Arabia: [0.51, 0.28, 0.21] ->  1
2-2 Russia draws Egypt [0.4, 0.31, 0.29] ->  0
2-3 Saudi Arabia loses to Egypt [0.26, 0.29, 0.45] ->  -1
[('Uruguay', 7, 0, 6), ('Russia', 5, 0, 4), ('Egypt', 4, 0, 5), ('Saudi Arabia', 0, 0, 3)] draws: 2

2-0 Spain beats Portugal: [0.4, 0.35, 0.25] ->  1
2-1 Spain beats Iran: [0.67, 0.23, 0.1] ->  1
1-0 Spain beats Morocco: [0.78, 0.15, 0.07] ->  1
1-0 Portugal beats Iran: [0.6, 0.26, 0.14] ->  1
1-0 Portugal beats Morocco: [0.71, 0.2, 0.09] ->  1
1-1 Iran draws Morocco [0.46, 0.3, 0.24] ->  0
[('Spain', 9, 0, 5), ('Portugal', 6, 0, 2), ('Iran', 1, 0, 2), ('Morocco', 1, 0, 1)] draws: 1

0-1 France loses to Denmark [0.53, 0.29, 0.18] ->  -1
2-1 France beats Peru: [0.45, 0.33, 0.22] ->  1
1-1 France draws Australia [0.69, 0.21, 0.1] ->  0
2-2 Denmark draws Peru [0.27, 0.33, 0.4] ->  0
2-1 Denmark beats Australia: [0.5, 0.3, 0.2] ->  1
1-0 Peru beats Australia: [0.58, 0.26, 0.16] ->  1
[('Denmark', 7, 0, 5), ('Peru', 4, 0, 4), ('France', 4, 0, 3), ('Australia', 1, 0, 2)] draws: 2

1-0 Croatia beats Argentina: [0.19, 0.3, 0.51] ->  1
1-1 Croatia draws Nigeria [0.55, 0.27, 0.18] ->  0
0-0 Croatia draws Iceland [0.41, 0.32, 0.27] ->  0
2-1 Argentina beats Nigeria: [0.72, 0.19, 0.09] ->  1
2-0 Argentina beats Iceland: [0.6, 0.26, 0.14] ->  1
1-4 Nigeria loses to Iceland [0.23, 0.3, 0.47] ->  -1
[('Argentina', 6, 0, 4), ('Croatia', 5, 0, 2), ('Iceland', 4, 0, 4), ('Nigeria', 1, 0, 3)] draws: 2

4-0 Brazil beats Switzerland: [0.68, 0.22, 0.1] ->  1
1-0 Brazil beats Serbia: [0.8, 0.14, 0.06] ->  1
1-0 Brazil beats Costa Rica: [0.82, 0.13, 0.05] ->  1
1-0 Switzerland beats Serbia: [0.48, 0.3, 0.22] ->  1
1-2 Switzerland loses to Costa Rica [0.51, 0.29, 0.2] ->  -1
1-0 Serbia beats Costa Rica: [0.37, 0.32, 0.31] ->  1
[('Brazil', 9, 0, 6), ('Switzerland', 3, 0, 2), ('Costa Rica', 3, 0, 2), ('Serbia', 3, 0, 1)] draws: 0

0-2 Sweden loses to Mexico [0.27, 0.33, 0.4] ->  -1
0-1 Sweden loses to South Korea [0.41, 0.32, 0.27] ->  -1
0-4 Sweden loses to Germany [0.08, 0.19, 0.73] ->  -1
1-0 Mexico beats South Korea: [0.48, 0.3, 0.22] ->  1
0-4 Mexico loses to Germany [0.1, 0.23, 0.67] ->  -1
1-2 South Korea loses to Germany [0.06, 0.15, 0.79] ->  -1
[('Germany', 9, 0, 10), ('Mexico', 6, 0, 3), ('South Korea', 3, 0, 2), ('Sweden', 0, 0, 0)] draws: 0

1-3 Belgium loses to England [0.32, 0.34, 0.34] ->  -1
3-0 Belgium beats Tunisia: [0.72, 0.19, 0.09] ->  1
1-1 Belgium draws Panama [0.68, 0.21, 0.11] ->  0
3-2 England beats Tunisia: [0.73, 0.18, 0.09] ->  1
0-1 England loses to Panama [0.7, 0.2, 0.1] ->  -1
1-1 Tunisia draws Panama [0.3, 0.31, 0.39] ->  0
[('England', 6, 0, 6), ('Panama', 5, 0, 3), ('Belgium', 4, 0, 5), ('Tunisia', 1, 0, 3)] draws: 2

3-0 Colombia beats Japan: [0.65, 0.23, 0.12] ->  1
1-0 Colombia beats Senegal: [0.59, 0.26, 0.15] ->  1
1-1 Colombia draws Poland [0.46, 0.32, 0.22] ->  0
0-1 Japan loses to Senegal [0.29, 0.31, 0.4] ->  -1
1-0 Japan beats Poland: [0.19, 0.29, 0.52] ->  1
1-2 Senegal loses to Poland [0.23, 0.31, 0.46] ->  -1
[('Colombia', 7, 0, 5), ('Poland', 4, 0, 3), ('Senegal', 3, 0, 2), ('Japan', 3, 0, 1)] draws: 1

[['Uruguay', 'Russia'],
 ['Spain', 'Portugal'],
 ['Denmark', 'Peru'],
 ['Argentina', 'Croatia'],
 ['Brazil', 'Switzerland'],
 ['Germany', 'Mexico'],
 ['England', 'Panama'],
 ['Colombia', 'Poland']]

In [9]:
common_winners(YEAR, 10000)

Most common winners of 2018 World Cup...
Brazil: 34.8%
Germany: 25.6%
Spain: 13.4%
Portugal: 6.2%
France: 5.2%
Argentina: 5.0%
England: 2.4%
Belgium: 2.0%
Colombia: 1.9%
Uruguay: 0.8%

In [10]:
def evaluate_groups(group, iterations):
    winners_dict = {}
    finalists_dict = {}
    for i in range(iterations):
        gw = s.get_knockout_round_group(group, False) #gw = get_knockout_round(groups_list[YEAR], False)
        if gw[0] in winners_dict.keys():
            winners_dict[gw[0]] += 1
        else:
            winners_dict[gw[0]] = 1
            
        gw_set = frozenset(gw)
        if gw_set in finalists_dict.keys():
            finalists_dict[gw_set] += 1
        else:
            finalists_dict[gw_set] = 1


    print(f"Results for {YEAR} World Cup...")

    print("Most common group winners")        
    for team, num in sorted(winners_dict.items(), key=lambda x:x[1], reverse=True):
        print(f"{team}: {round((num / iterations) * 100, 1)}%")

    print("\nMost common final fours")
    for teams, num in sorted(finalists_dict.items(), key=lambda x:x[1], reverse=True):
        print(f"{list(teams)}: {round((num / iterations) * 100, 1)}%")

for group in groups_list[YEAR]:
    print(group)
    evaluate_groups(group, 100)
    print('\n\n')

['Uruguay', 'Russia', 'Saudi Arabia', 'Egypt']
Results for 2018 World Cup...
Most common group winners
Uruguay: 68.0%
Russia: 20.0%
Egypt: 7.0%
Saudi Arabia: 5.0%

Most common final fours
['Uruguay', 'Russia']: 44.0%
['Uruguay', 'Egypt']: 24.0%
['Saudi Arabia', 'Uruguay']: 19.0%
['Egypt', 'Russia']: 9.0%
['Saudi Arabia', 'Russia']: 3.0%
['Saudi Arabia', 'Egypt']: 1.0%



['Spain', 'Portugal', 'Iran', 'Morocco']
Results for 2018 World Cup...
Most common group winners
Spain: 56.0%
Portugal: 39.0%
Iran: 5.0%

Most common final fours
['Portugal', 'Spain']: 67.0%
['Portugal', 'Iran']: 11.0%
['Iran', 'Spain']: 10.0%
['Morocco', 'Spain']: 8.0%
['Portugal', 'Morocco']: 4.0%



['France', 'Denmark', 'Peru', 'Australia']
Results for 2018 World Cup...
Most common group winners
France: 44.0%
Peru: 27.0%
Denmark: 24.0%
Australia: 5.0%

Most common final fours
['Peru', 'France']: 38.0%
['Denmark', 'France']: 34.0%
['Denmark', 'Peru']: 14.0%
['France', 'Australia']: 6.0%
['Denmark', 'Australia']: 5.0%
['Peru', 'Australia']: 3.0%



['Croatia', 'Argentina', 'Nigeria', 'Iceland']
Results for 2018 World Cup...
Most common group winners
Argentina: 59.0%
Croatia: 24.0%
Iceland: 12.0%
Nigeria: 5.0%

Most common final fours
['Argentina', 'Croatia']: 46.0%
['Argentina', 'Iceland']: 32.0%
['Argentina', 'Nigeria']: 11.0%
['Iceland', 'Croatia']: 10.0%
['Nigeria', 'Iceland']: 1.0%



['Brazil', 'Switzerland', 'Serbia', 'Costa Rica']
Results for 2018 World Cup...
Most common group winners
Brazil: 84.0%
Switzerland: 12.0%
Serbia: 2.0%
Costa Rica: 2.0%

Most common final fours
['Brazil', 'Switzerland']: 47.0%
['Brazil', 'Serbia']: 31.0%
['Costa Rica', 'Brazil']: 19.0%
['Serbia', 'Switzerland']: 2.0%
['Costa Rica', 'Switzerland']: 1.0%



['Sweden', 'Mexico', 'South Korea', 'Germany']
Results for 2018 World Cup...
Most common group winners
Germany: 70.0%
Sweden: 14.0%
Mexico: 14.0%
South Korea: 2.0%

Most common final fours
['Mexico', 'Germany']: 43.0%
['Germany', 'Sweden']: 28.0%
['Germany', 'South Korea']: 15.0%
['Mexico', 'Sweden']: 8.0%
['South Korea', 'Sweden']: 3.0%
['Mexico', 'South Korea']: 3.0%



['Belgium', 'England', 'Tunisia', 'Panama']
Results for 2018 World Cup...
Most common group winners
England: 47.0%
Belgium: 44.0%
Panama: 7.0%
Tunisia: 2.0%

Most common final fours
['Belgium', 'England']: 69.0%
['Panama', 'England']: 10.0%
['England', 'Tunisia']: 7.0%
['Belgium', 'Tunisia']: 7.0%
['Panama', 'Belgium']: 7.0%



['Colombia', 'Japan', 'Senegal', 'Poland']
Results for 2018 World Cup...
Most common group winners
Colombia: 68.0%
Poland: 20.0%
Senegal: 7.0%
Japan: 5.0%

Most common final fours
['Colombia', 'Poland']: 48.0%
['Colombia', 'Senegal']: 21.0%
['Colombia', 'Japan']: 19.0%
['Poland', 'Japan']: 6.0%
['Poland', 'Senegal']: 6.0%

In [11]:
rankings[rankings["Year"] == YEAR][:15]
# NOTE: 199/900 world cup games end in draw  # 0.2211111111111111
# NOTE: 10084/43752 of all games end in draw. # 0.2304808923020662

      Rank         Team    Score  Year
3961     1       Brazil  2121.91  2018
3962     2      Germany  2099.42  2018
3963     3        Spain  2039.00  2018
3964     4       France  1986.47  2018
3965     5    Argentina  1984.39  2018
3966     6     Portugal  1983.57  2018
3967     7      England  1937.57  2018
3968     8     Colombia  1929.62  2018
3969     9      Belgium  1928.18  2018
3970    10        Italy  1901.35  2018
3971    11  Netherlands  1900.22  2018
3972    12         Peru  1895.30  2018
3973    13      Uruguay  1878.16  2018
3974    14  Switzerland  1873.08  2018
3975    15        Chile  1866.28  2018