In [1]:
from get_match_data import wc_rankings, wc_start, get_data
from precompute import get_groups
from prediction_model import get_model
from simulation import Simulation
from evaluation import *

In [2]:
YEAR = 2022 # year for the model
rankings, data = get_data(YEAR)
logreg, match_data = get_model(data, report=True)

Mean Validation accuracy: 0.7497727809059873
Test data model accuracy: 0.756581409856519

               precision    recall  f1-score   support

       False       0.78      0.84      0.81      4891
        True       0.72      0.62      0.67      3124

    accuracy                           0.76      8015
   macro avg       0.75      0.73      0.74      8015
weighted avg       0.75      0.76      0.75      8015

In [3]:
#match_data

In [4]:
#y = 2022
#df = wc_rankings("1998-01-01", wc_start[y])
#df.to_csv(f"data/rankings{str(y)[-2:]}.csv", index=False)

In [5]:
s = Simulation(YEAR, logreg, match_data)

In [6]:
#s.get_knockout_round(True)
s.simulate_tournament(True, True)

0-1: Qatar loses to Ecuador: [0.15, 0.27, 0.58] ->  0
1-1: Qatar draws Senegal: [0.28, 0.33, 0.39] ->  1
1-0: Qatar beats Netherlands: [0.08, 0.19, 0.73] ->  3
1-1: Ecuador draws Senegal: [0.52, 0.29, 0.19] ->  1
2-1: Ecuador beats Netherlands: [0.19, 0.31, 0.5] ->  3
2-2: Senegal draws Netherlands: [0.1, 0.22, 0.68] ->  1
[('Ecuador', 7, 2, 4), ('Qatar', 4, 0, 2)] draws: 3
3-1: England beats Iran: [0.54, 0.3, 0.16] ->  3
1-1: England draws United States: [0.54, 0.29, 0.17] ->  1
2-1: England beats Wales: [0.54, 0.29, 0.17] ->  3
1-1: Iran draws United States: [0.32, 0.35, 0.33] ->  1
1-0: Iran beats Wales: [0.32, 0.35, 0.33] ->  3
1-1: United States draws Wales: [0.33, 0.34, 0.33] ->  1
[('England', 7, 3, 6), ('Iran', 4, -1, 3)] draws: 3
4-0: Argentina beats Saudi Arabia: [0.88, 0.09, 0.03] ->  3
1-1: Argentina draws Mexico: [0.71, 0.21, 0.08] ->  1
0-1: Argentina loses to Poland: [0.75, 0.18, 0.07] ->  0
0-1: Saudi Arabia loses to Mexico: [0.14, 0.26, 0.6] ->  0
1-5: Saudi Arabia loses to Poland: [0.17, 0.27, 0.56] ->  0
0-0: Mexico draws Poland: [0.37, 0.34, 0.29] ->  1
[('Poland', 7, 5, 6), ('Mexico', 5, 1, 2)] draws: 2
3-0: France beats Australia: [0.78, 0.16, 0.06] ->  3
4-1: France beats Denmark: [0.47, 0.33, 0.2] ->  3
1-0: France beats Tunisia: [0.83, 0.12, 0.05] ->  3
0-3: Australia loses to Denmark: [0.11, 0.24, 0.65] ->  0
1-1: Australia draws Tunisia: [0.41, 0.32, 0.27] ->  1
2-0: Denmark beats Tunisia: [0.72, 0.2, 0.08] ->  3
[('France', 9, 7, 8), ('Denmark', 6, 2, 6)] draws: 1
2-0: Spain beats Costa Rica: [0.75, 0.18, 0.07] ->  3
1-2: Spain loses to Germany: [0.41, 0.35, 0.24] ->  0
2-1: Spain beats Japan: [0.67, 0.23, 0.1] ->  3
0-1: Costa Rica loses to Germany: [0.1, 0.23, 0.67] ->  0
0-0: Costa Rica draws Japan: [0.25, 0.32, 0.43] ->  1
2-0: Germany beats Japan: [0.58, 0.27, 0.15] ->  3
[('Germany', 9, 4, 5), ('Spain', 6, 2, 5)] draws: 1
2-1: Belgium beats Canada: [0.67, 0.23, 0.1] ->  3
3-0: Belgium beats Morocco: [0.72, 0.2, 0.08] ->  3
0-0: Belgium draws Croatia: [0.56, 0.29, 0.15] ->  1
4-1: Canada beats Morocco: [0.39, 0.33, 0.28] ->  3
0-2: Canada loses to Croatia: [0.24, 0.32, 0.44] ->  0
0-2: Morocco loses to Croatia: [0.19, 0.31, 0.5] ->  0
[('Belgium', 7, 4, 5), ('Croatia', 7, 4, 4)] draws: 1
1-0: Brazil beats Serbia: [0.72, 0.2, 0.08] ->  3
2-2: Brazil draws Switzerland: [0.65, 0.25, 0.1] ->  1
1-0: Brazil beats Cameroon: [0.9, 0.08, 0.02] ->  3
1-2: Serbia loses to Switzerland: [0.26, 0.33, 0.41] ->  0
0-0: Serbia draws Cameroon: [0.63, 0.24, 0.13] ->  1
0-1: Switzerland loses to Cameroon: [0.7, 0.21, 0.09] ->  0
[('Brazil', 7, 2, 4), ('Switzerland', 4, 0, 4)] draws: 2
5-1: Portugal beats Ghana: [0.85, 0.11, 0.04] ->  3
0-1: Portugal loses to Uruguay: [0.42, 0.34, 0.24] ->  0
2-0: Portugal beats South Korea: [0.59, 0.27, 0.14] ->  3
0-0: Ghana draws Uruguay: [0.06, 0.14, 0.8] ->  1
1-2: Ghana loses to South Korea: [0.11, 0.22, 0.67] ->  0
0-0: Uruguay draws South Korea: [0.49, 0.31, 0.2] ->  1
[('Portugal', 6, 5, 7), ('Uruguay', 5, 1, 1)] draws: 2

Group Winners: [['Ecuador', 'Qatar'], ['England', 'Iran'], ['Poland', 'Mexico'], ['France', 'Denmark'], ['Germany', 'Spain'], ['Belgium', 'Croatia'], ['Brazil', 'Switzerland'], ['Portugal', 'Uruguay']]

R16:  ['Ecuador', 'Iran', 'Poland', 'Denmark', 'Germany', 'Croatia', 'Brazil', 'Uruguay', 'England', 'Qatar', 'France', 'Mexico', 'Belgium', 'Spain', 'Portugal', 'Switzerland']
QF: ['Iran', 'Poland', 'Croatia', 'Brazil', 'Qatar', 'France', 'Spain', 'Portugal']
SF: ['Poland', 'Brazil', 'France', 'Spain']
B : ['Poland', 'Spain']
F : ['Brazil', 'France']
third: ['Spain']
champ: ['Brazil']

('Brazil', 'France', 'Spain', 'Poland')

In [7]:
s.simulate_knockout_round(s.get_knockout_round(False), pr=False)
print(s.get_result("summary"))
#print(s.get_result("r16"))
#print(s.get_result("QF"))
#print(s.get_result("SF"))
#print(s.get_result("final"))

['Brazil', 'Australia', 'Belgium', 'France']

In [8]:
iters = 10000
results = s.get_simulation_results(iters)

In [9]:
common_winners(results, YEAR)

Most common winners of 2022 World Cup...
Brazil: 32.4%
Argentina: 22.7%
France: 12.4%
Belgium: 8.6%
Spain: 7.2%
Portugal: 3.5%
England: 3.3%
Netherlands: 2.8%
Germany: 2.5%
Denmark: 1.9%

In [10]:
group_conv = {0: "a", 1: "b", 2: "c", 3: "d", 4: "e", 5: "f", 6: "g", 7: "h"}

for i in range(8):
    group_letter = group_conv[i]
    print(f"GROUP {group_letter.upper()}: {get_groups(YEAR)[group_letter]}\n")
    group_winners(results, i)
    print()
    group_progression(results, i)
    print()

GROUP A: ['Qatar', 'Ecuador', 'Senegal', 'Netherlands']

Most common group winners
Netherlands: 63.4%
Ecuador: 25.9%
Senegal: 6.4%
Qatar: 4.2%

Most common advancing pair (in order)
('Netherlands', 'Ecuador'): 37.9%
('Ecuador', 'Netherlands'): 19.1%
('Netherlands', 'Senegal'): 14.9%
('Netherlands', 'Qatar'): 10.7%
('Ecuador', 'Senegal'): 4.2%
('Senegal', 'Netherlands'): 3.6%
('Ecuador', 'Qatar'): 2.7%
('Qatar', 'Netherlands'): 2.3%
('Senegal', 'Ecuador'): 2.2%
('Qatar', 'Ecuador'): 1.4%
('Senegal', 'Qatar'): 0.6%
('Qatar', 'Senegal'): 0.5%

GROUP B: ['England', 'Iran', 'United States', 'Wales']

Most common group winners
England: 55.8%
Iran: 15.0%
United States: 14.9%
Wales: 14.2%

Most common advancing pair (in order)
('England', 'Iran'): 18.7%
('England', 'Wales'): 18.7%
('England', 'United States'): 18.4%
('United States', 'England'): 8.7%
('Iran', 'England'): 8.4%
('Wales', 'England'): 7.8%
('United States', 'Wales'): 3.6%
('Iran', 'Wales'): 3.3%
('Iran', 'United States'): 3.3%
('Wales', 'Iran'): 3.2%
('Wales', 'United States'): 3.2%
('United States', 'Iran'): 2.7%

GROUP C: ['Argentina', 'Saudi Arabia', 'Mexico', 'Poland']

Most common group winners
Argentina: 82.8%
Mexico: 9.5%
Poland: 6.5%
Saudi Arabia: 1.1%

Most common advancing pair (in order)
('Argentina', 'Mexico'): 40.8%
('Argentina', 'Poland'): 32.7%
('Argentina', 'Saudi Arabia'): 9.2%
('Mexico', 'Argentina'): 7.8%
('Poland', 'Argentina'): 5.3%
('Mexico', 'Poland'): 1.5%
('Poland', 'Mexico'): 1.0%
('Saudi Arabia', 'Argentina'): 0.7%
('Mexico', 'Saudi Arabia'): 0.2%
('Saudi Arabia', 'Mexico'): 0.2%
('Saudi Arabia', 'Poland'): 0.2%
('Poland', 'Saudi Arabia'): 0.2%

GROUP D: ['France', 'Australia', 'Denmark', 'Tunisia']

Most common group winners
France: 64.9%
Denmark: 30.4%
Australia: 3.0%
Tunisia: 1.7%

Most common advancing pair (in order)
('France', 'Denmark'): 48.7%
('Denmark', 'France'): 25.7%
('France', 'Australia'): 10.0%
('France', 'Tunisia'): 6.2%
('Denmark', 'Australia'): 2.9%
('Denmark', 'Tunisia'): 1.8%
('Australia', 'France'): 1.7%
('Australia', 'Denmark'): 1.1%
('Tunisia', 'France'): 1.1%
('Tunisia', 'Denmark'): 0.5%
('Australia', 'Tunisia'): 0.1%
('Tunisia', 'Australia'): 0.1%

GROUP E: ['Spain', 'Costa Rica', 'Germany', 'Japan']

Most common group winners
Spain: 56.7%
Germany: 34.4%
Japan: 6.2%
Costa Rica: 2.7%

Most common advancing pair (in order)
('Spain', 'Germany'): 39.0%
('Germany', 'Spain'): 25.9%
('Spain', 'Japan'): 10.8%
('Spain', 'Costa Rica'): 6.9%
('Germany', 'Japan'): 5.5%
('Japan', 'Spain'): 3.4%
('Germany', 'Costa Rica'): 3.0%
('Japan', 'Germany'): 2.3%
('Costa Rica', 'Spain'): 1.4%
('Costa Rica', 'Germany'): 1.0%
('Japan', 'Costa Rica'): 0.5%
('Costa Rica', 'Japan'): 0.4%

GROUP F: ['Belgium', 'Canada', 'Morocco', 'Croatia']

Most common group winners
Belgium: 68.5%
Croatia: 18.2%
Canada: 8.1%
Morocco: 5.2%

Most common advancing pair (in order)
('Belgium', 'Croatia'): 34.2%
('Belgium', 'Canada'): 20.3%
('Belgium', 'Morocco'): 14.0%
('Croatia', 'Belgium'): 13.0%
('Canada', 'Belgium'): 5.1%
('Croatia', 'Canada'): 3.3%
('Morocco', 'Belgium'): 3.2%
('Canada', 'Croatia'): 2.0%
('Croatia', 'Morocco'): 2.0%
('Morocco', 'Croatia'): 1.1%
('Morocco', 'Canada'): 0.9%
('Canada', 'Morocco'): 0.9%

GROUP G: ['Brazil', 'Serbia', 'Switzerland', 'Cameroon']

Most common group winners
Brazil: 77.8%
Switzerland: 13.9%
Serbia: 7.7%
Cameroon: 0.6%

Most common advancing pair (in order)
('Brazil', 'Switzerland'): 43.4%
('Brazil', 'Serbia'): 29.6%
('Switzerland', 'Brazil'): 11.4%
('Serbia', 'Brazil'): 6.0%
('Brazil', 'Cameroon'): 4.8%
('Switzerland', 'Serbia'): 2.3%
('Serbia', 'Switzerland'): 1.6%
('Cameroon', 'Brazil'): 0.4%
('Switzerland', 'Cameroon'): 0.2%
('Serbia', 'Cameroon'): 0.2%
('Cameroon', 'Serbia'): 0.1%
('Cameroon', 'Switzerland'): 0.1%

GROUP H: ['Portugal', 'Ghana', 'Uruguay', 'South Korea']

Most common group winners
Portugal: 55.1%
Uruguay: 32.6%
South Korea: 11.6%
Ghana: 0.7%

Most common advancing pair (in order)
('Portugal', 'Uruguay'): 35.5%
('Uruguay', 'Portugal'): 23.4%
('Portugal', 'South Korea'): 17.4%
('Uruguay', 'South Korea'): 8.2%
('South Korea', 'Portugal'): 6.8%
('South Korea', 'Uruguay'): 4.5%
('Portugal', 'Ghana'): 2.2%
('Uruguay', 'Ghana'): 1.0%
('Ghana', 'Portugal'): 0.3%
('South Korea', 'Ghana'): 0.3%
('Ghana', 'Uruguay'): 0.2%
('Ghana', 'South Korea'): 0.1%

In [11]:
common_teams_in_round(results, "QF", YEAR)

Most common QF occurences at 2022 World Cup...
['Netherlands', 'Argentina', 'France', 'Brazil', 'Germany', 'Portugal', 'England', 'Spain']: 0.8%
['Netherlands', 'Argentina', 'France', 'Brazil', 'Belgium', 'Portugal', 'England', 'Spain']: 0.8%
['Netherlands', 'Argentina', 'France', 'Brazil', 'Belgium', 'Switzerland', 'England', 'Spain']: 0.5%
['Netherlands', 'Argentina', 'France', 'Brazil', 'Ecuador', 'Germany', 'Portugal', 'Spain']: 0.5%
['Netherlands', 'Argentina', 'France', 'Brazil', 'Switzerland', 'Germany', 'England', 'Spain']: 0.5%
['Netherlands', 'Argentina', 'France', 'Brazil', 'Belgium', 'Germany', 'Portugal', 'England']: 0.5%
['Netherlands', 'Argentina', 'Brazil', 'Belgium', 'Portugal', 'England', 'Spain', 'Denmark']: 0.4%
['Netherlands', 'Argentina', 'Uruguay', 'France', 'Brazil', 'Germany', 'England', 'Spain']: 0.4%
['Netherlands', 'France', 'Brazil', 'Germany', 'Portugal', 'England', 'Spain', 'Denmark']: 0.4%
['Netherlands', 'Argentina', 'Uruguay', 'France', 'Brazil', 'Belgium', 'England', 'Spain']: 0.4%

In [12]:
groups_list = get_groups(YEAR).values()
probs = get_prob_df(results, groups_list)

sorted_probs = probs.sort_values(by="champ", ascending=False)
sorted_probs

             team    r16     QF     SF  final  champ
24         Brazil  95.55  81.31  63.05  44.00  32.39
8       Argentina  96.56  73.11  58.96  34.52  22.67
12         France  93.41  65.96  49.16  27.99  12.40
20        Belgium  89.80  58.53  35.57  20.30   8.62
16          Spain  87.31  61.21  30.06  15.75   7.19
28       Portugal  85.67  43.44  21.08   9.69   3.45
4         England  80.70  55.73  24.08  10.51   3.29
3     Netherlands  88.43  59.07  22.19   8.02   2.84
18        Germany  76.68  42.61  17.38   7.31   2.47
14        Denmark  80.78  36.07  20.38   7.10   1.90
26    Switzerland  58.97  27.54   9.95   3.40   0.84
30        Uruguay  72.88  25.43   9.41   3.34   0.73
23        Croatia  55.47  18.59   4.95   1.49   0.32
1         Ecuador  67.45  29.20   6.73   1.29   0.22
25         Serbia  39.71  14.71   3.82   0.99   0.12
6   United States  39.85  15.34   3.29   0.57   0.12
10         Mexico  51.64  12.23   4.55   0.87   0.11
11         Poland  41.02   8.45   2.61   0.45   0.08
7           Wales  39.76  16.37   3.23   0.62   0.07
5            Iran  39.69  15.55   3.17   0.64   0.06
31    South Korea  37.39   6.79   1.53   0.32   0.05
21         Canada  32.60   6.82   1.08   0.21   0.02
19          Japan  22.95   5.71   1.21   0.25   0.02
22        Morocco  22.13   4.00   0.54   0.11   0.01
2         Senegal  25.98   5.60   0.70   0.10   0.01
17     Costa Rica  13.06   2.53   0.29   0.07   0.00
15        Tunisia   9.87   0.94   0.18   0.02   0.00
13      Australia  15.94   2.25   0.40   0.04   0.00
27       Cameroon   5.77   0.64   0.08   0.01   0.00
9    Saudi Arabia  10.78   0.99   0.15   0.01   0.00
29          Ghana   4.06   0.14   0.00   0.00   0.00
0           Qatar  18.14   3.14   0.22   0.01   0.00

In [13]:
l = []
for g in get_groups(2022).values():
    for t in g:
        l += [[t, round(team_between_rounds(results, t, "QF", "SF"), 3)]]

df = pd.DataFrame(l).sort_values(by=1, ascending=False)
df.head(10)

              0      1
8     Argentina  0.806
24       Brazil  0.775
12       France  0.745
20      Belgium  0.608
14      Denmark  0.565
16        Spain  0.491
28     Portugal  0.485
4       England  0.432
18      Germany  0.408
3   Netherlands  0.376

In [14]:
rankings[rankings["Year"] == YEAR][:15]
# NOTE: 199/900 world cup games end in draw  # 0.2211111111111111
# NOTE: 10084/43752 of all games end in draw. # 0.2304808923020662

      Rank         Team    Score  Year
4737     1       Brazil  2158.46  2022
4738     2    Argentina  2125.69  2022
4739     3       France  2066.26  2022
4740     4      Belgium  2049.74  2022
4741     5        Spain  2043.33  2022
4742     6     Portugal  1990.70  2022
4743     7        Italy  1988.55  2022
4744     8      England  1982.91  2022
4745     9  Netherlands  1976.74  2022
4746    10      Germany  1971.34  2022
4747    11      Denmark  1951.27  2022
4748    12      Uruguay  1917.37  2022
4749    13  Switzerland  1913.10  2022
4750    14     Colombia  1896.52  2022
4751    15      Croatia  1873.81  2022