In [1]:
import numpy as np
import pandas as pd
import random as rnd
# import statistics

from itertools import combinations
from get_match_data import *

from group_stages import *
from prediction_model import get_model
from simulation import Simulation

In [2]:
YEAR = 2018  # year for the model

In [3]:
rankings, data = get_data(YEAR)
logreg, match_data = get_model(data, report=True)

Mean Validation accuracy: 0.7466066164815621
Test data model accuracy: 0.754321554229769

               precision    recall  f1-score   support

       False       0.78      0.84      0.81      3980
        True       0.71      0.62      0.67      2557

    accuracy                           0.75      6537
   macro avg       0.74      0.73      0.74      6537
weighted avg       0.75      0.75      0.75      6537

Baseline {predict higher ranked team}:
               precision    recall  f1-score   support

       False       0.84      0.69      0.76      3980
        True       0.62      0.79      0.70      2557

    accuracy                           0.73      6537
   macro avg       0.73      0.74      0.73      6537
weighted avg       0.75      0.73      0.73      6537

In [4]:
match_data

,date,team,opponent,team_score,opponent_score,tournament,city,country,neutral,year,team_rank,team_points,opponent_rank,opponent_points,rank_diff,avg_rank,score_diff,team_won,result,comp
589,1998-01-10,Zambia,Malawi,1,0,COSAFA Cup qualification,Blantyre,Malawi,False,1998,54,1616.70,119,1333.92,-65,86.5,1,True,1,False
10,1998-01-10,Malawi,Zambia,0,1,COSAFA Cup qualification,Blantyre,Malawi,False,1998,119,1333.92,54,1616.70,65,86.5,-1,False,-1,False
4,1998-01-18,Lesotho,Zimbabwe,0,2,COSAFA Cup qualification,Maseru,Lesotho,False,1998,152,1159.80,86,1471.12,66,119.0,-2,False,-1,False
681,1998-01-18,Zimbabwe,Lesotho,2,0,COSAFA Cup qualification,Maseru,Lesotho,False,1998,86,1471.12,152,1159.80,-66,119.0,2,True,1,False
393,1998-01-24,Namibia,South Africa,3,2,COSAFA Cup qualification,Windhoek,Namibia,False,1998,112,1364.70,46,1657.97,66,79.0,1,True,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33723,2018-12-06,Philippines,Vietnam,1,2,AFF Championship,Hanoi,Vietnam,False,2018,149,1172.39,128,1277.79,21,138.5,-1,False,-1,False
33718,2018-12-11,Malaysia,Vietnam,2,2,AFF Championship,Kuala Lumpur,Malaysia,False,2018,160,1057.30,128,1277.79,32,144.0,0,False,0,False
34477,2018-12-11,Vietnam,Malaysia,2,2,AFF Championship,Kuala Lumpur,Malaysia,False,2018,128,1277.79,160,1057.30,-32,144.0,0,False,0,False
33720,2018-12-15,Malaysia,Vietnam,0,1,AFF Championship,Hanoi,Vietnam,False,2018,160,1057.30,128,1277.79,32,144.0,-1,False,-1,False
34476,2018-12-15,Vietnam,Malaysia,1,0,AFF Championship,Hanoi,Vietnam,False,2018,128,1277.79,160,1057.30,-32,144.0,1,True,1,False

In [5]:
#for y in wc_start:
#    print(y)

#y = 2022
#df = wc_rankings("1998-01-01", wc_start[y])
#df.to_csv(f"data/rankings{str(y)[-2:]}.csv", index=False)

In [6]:
s = Simulation(YEAR, groups_list[YEAR], logreg, match_data)

In [7]:
import time
tm = time.time()
s.simulate_knockout_round(s.get_knockout_round(False), pr=True)
time.time() - tm

Group Winners: [['Uruguay', 'Russia'], ['Spain', 'Portugal'], ['Peru', 'France'], ['Argentina', 'Iceland'], ['Switzerland', 'Costa Rica'], ['Germany', 'Sweden'], ['Belgium', 'Panama'], ['Poland', 'Colombia']]

R16:  ['Uruguay', 'Portugal', 'Peru', 'Iceland', 'Switzerland', 'Sweden', 'Belgium', 'Colombia', 'Spain', 'Russia', 'Argentina', 'France', 'Germany', 'Costa Rica', 'Poland', 'Panama']
qf: ['Portugal', 'Peru', 'Sweden', 'Belgium', 'Spain', 'Argentina', 'Germany', 'Poland']
sf: ['Peru', 'Belgium', 'Argentina', 'Germany']
B  : ['Peru', 'Argentina']
F  : ['Belgium', 'Germany']
third: ['Argentina']
champ: ['Germany']

0.010262012481689453

In [8]:
s.simulate_knockout_round(s.get_knockout_round(False), pr=False)
print(s.get_result("r16"))
print(s.get_result("qf"))
print(s.get_result("sf"))
print(s.get_result("final"))
print(s.get_result("summary"))

['Uruguay', 'Portugal', 'Peru', 'Iceland', 'Brazil', 'South Korea', 'England', 'Poland', 'Spain', 'Egypt', 'Argentina', 'Denmark', 'Germany', 'Costa Rica', 'Colombia', 'Belgium']
['Portugal', 'Peru', 'Brazil', 'England', 'Spain', 'Argentina', 'Germany', 'Colombia']
['Portugal', 'Brazil', 'Argentina', 'Germany']
['Brazil', 'Germany']
['Brazil', 'Germany', 'Portugal', 'Argentina']

In [9]:
s.get_knockout_round(True)

2-0 Uruguay beats Russia: [0.59, 0.26, 0.15] ->  1
2-0 Uruguay beats Saudi Arabia: [0.74, 0.17, 0.09] ->  1
4-0 Uruguay beats Egypt: [0.64, 0.23, 0.13] ->  1
0-0 Russia draws Saudi Arabia [0.51, 0.28, 0.21] ->  0
1-1 Russia draws Egypt [0.4, 0.31, 0.29] ->  0
1-1 Saudi Arabia draws Egypt [0.26, 0.29, 0.45] ->  0
[('Uruguay', 9, 0, 8), ('Egypt', 2, 0, 2), ('Russia', 2, 0, 1), ('Saudi Arabia', 2, 0, 1)] draws: 3

3-1 Spain beats Portugal: [0.4, 0.35, 0.25] ->  1
2-0 Spain beats Iran: [0.67, 0.23, 0.1] ->  1
3-2 Spain beats Morocco: [0.78, 0.15, 0.07] ->  1
3-1 Portugal beats Iran: [0.6, 0.26, 0.14] ->  1
1-0 Portugal beats Morocco: [0.71, 0.2, 0.09] ->  1
2-0 Iran beats Morocco: [0.46, 0.3, 0.24] ->  1
[('Spain', 9, 0, 8), ('Portugal', 6, 0, 5), ('Iran', 3, 0, 3), ('Morocco', 0, 0, 2)] draws: 0

3-3 France draws Denmark [0.53, 0.29, 0.18] ->  0
2-2 France draws Peru [0.45, 0.33, 0.22] ->  0
2-1 France beats Australia: [0.69, 0.21, 0.1] ->  1
1-2 Denmark loses to Peru [0.27, 0.33, 0.4] ->  -1
1-1 Denmark draws Australia [0.5, 0.3, 0.2] ->  0
3-1 Peru beats Australia: [0.58, 0.26, 0.16] ->  1
[('Peru', 7, 0, 7), ('France', 5, 0, 7), ('Denmark', 2, 0, 5), ('Australia', 1, 0, 3)] draws: 3

0-2 Croatia loses to Argentina [0.19, 0.3, 0.51] ->  -1
0-1 Croatia loses to Nigeria [0.55, 0.27, 0.18] ->  -1
1-2 Croatia loses to Iceland [0.41, 0.32, 0.27] ->  -1
3-2 Argentina beats Nigeria: [0.72, 0.19, 0.09] ->  1
1-0 Argentina beats Iceland: [0.6, 0.26, 0.14] ->  1
0-3 Nigeria loses to Iceland [0.23, 0.3, 0.47] ->  -1
[('Argentina', 9, 0, 6), ('Iceland', 6, 0, 5), ('Nigeria', 3, 0, 3), ('Croatia', 0, 0, 1)] draws: 0

0-1 Brazil loses to Switzerland [0.68, 0.22, 0.1] ->  -1
1-0 Brazil beats Serbia: [0.8, 0.14, 0.06] ->  1
1-2 Brazil loses to Costa Rica [0.82, 0.13, 0.05] ->  -1
4-0 Switzerland beats Serbia: [0.48, 0.3, 0.22] ->  1
2-1 Switzerland beats Costa Rica: [0.51, 0.29, 0.2] ->  1
2-0 Serbia beats Costa Rica: [0.37, 0.32, 0.31] ->  1
[('Switzerland', 9, 0, 7), ('Costa Rica', 3, 0, 3), ('Brazil', 3, 0, 2), ('Serbia', 3, 0, 2)] draws: 0

0-0 Sweden draws Mexico [0.27, 0.33, 0.4] ->  0
0-2 Sweden loses to South Korea [0.41, 0.32, 0.27] ->  -1
1-3 Sweden loses to Germany [0.08, 0.19, 0.73] ->  -1
1-0 Mexico beats South Korea: [0.48, 0.3, 0.22] ->  1
0-4 Mexico loses to Germany [0.1, 0.23, 0.67] ->  -1
2-2 South Korea draws Germany [0.06, 0.15, 0.79] ->  0
[('Germany', 7, 0, 9), ('South Korea', 4, 0, 4), ('Mexico', 4, 0, 1), ('Sweden', 1, 0, 1)] draws: 2

1-2 Belgium loses to England [0.32, 0.34, 0.34] ->  -1
3-1 Belgium beats Tunisia: [0.72, 0.19, 0.09] ->  1
1-0 Belgium beats Panama: [0.68, 0.21, 0.11] ->  1
3-0 England beats Tunisia: [0.73, 0.18, 0.09] ->  1
1-0 England beats Panama: [0.7, 0.2, 0.1] ->  1
0-0 Tunisia draws Panama [0.3, 0.31, 0.39] ->  0
[('England', 9, 0, 6), ('Belgium', 6, 0, 5), ('Tunisia', 1, 0, 1), ('Panama', 1, 0, 0)] draws: 1

1-0 Colombia beats Japan: [0.65, 0.23, 0.12] ->  1
2-1 Colombia beats Senegal: [0.59, 0.26, 0.15] ->  1
1-1 Colombia draws Poland [0.46, 0.32, 0.22] ->  0
1-2 Japan loses to Senegal [0.29, 0.31, 0.4] ->  -1
1-2 Japan loses to Poland [0.19, 0.29, 0.52] ->  -1
1-1 Senegal draws Poland [0.23, 0.31, 0.46] ->  0
[('Colombia', 7, 0, 4), ('Poland', 5, 0, 4), ('Senegal', 4, 0, 4), ('Japan', 0, 0, 2)] draws: 2

[['Uruguay', 'Egypt'],
 ['Spain', 'Portugal'],
 ['Peru', 'France'],
 ['Argentina', 'Iceland'],
 ['Switzerland', 'Costa Rica'],
 ['Germany', 'South Korea'],
 ['England', 'Belgium'],
 ['Colombia', 'Poland']]

In [10]:
def evaluate_tournament(iterations):
    winners_dict = {}
    finalists_dict = {}
    for i in range(iterations):
        gw = s.get_knockout_round(False)
        final_four = s.simulate_knockout_round(gw, pr=False)
        final_four = s.result["summary"]
        final_four_set = frozenset(final_four)
        if final_four_set in finalists_dict.keys():
            finalists_dict[final_four_set] += 1
        else:
            finalists_dict[final_four_set] = 1

        winner = final_four[0]
        if winner in winners_dict.keys():
            winners_dict[winner] += 1
        else:
            winners_dict[winner] = 1

    print(f"Results for {YEAR} World Cup...")

    print("Most common winners")        
    for team, num in sorted(winners_dict.items(), key=lambda x:x[1], reverse=True)[:10]:  # top 5 most common winners
        print(f"{team}: {round((num / iterations) * 100, 1)}%")

    print("\nMost common final fours")
    for teams, num in sorted(finalists_dict.items(), key=lambda x:x[1], reverse=True)[:10]: # top 5 most commmon final fours
        print(f"{list(teams)}: {round((num / iterations) * 100, 1)}%")

evaluate_tournament(10000)

Results for 2018 World Cup...
Most common winners
Brazil: 34.3%
Germany: 26.3%
Spain: 13.0%
Portugal: 6.0%
France: 4.9%
Argentina: 4.5%
England: 2.9%
Belgium: 2.1%
Colombia: 1.8%
Uruguay: 1.0%

Most common final fours
['Brazil', 'Portugal', 'Germany', 'Spain']: 6.6%
['Brazil', 'France', 'Germany', 'Spain']: 4.0%
['Brazil', 'Argentina', 'Germany', 'Spain']: 3.0%
['France', 'Portugal', 'Germany', 'Brazil']: 2.4%
['Brazil', 'France', 'Argentina', 'Germany']: 2.1%
['Brazil', 'Germany', 'Uruguay', 'Spain']: 2.0%
['Brazil', 'Portugal', 'Argentina', 'Germany']: 1.8%
['Brazil', 'Colombia', 'Portugal', 'Spain']: 1.4%
['Portugal', 'Germany', 'England', 'Spain']: 1.2%
['Brazil', 'Portugal', 'England', 'Spain']: 1.1%

In [11]:
#evaluate_tournament(1000)

In [12]:
def evaluate_groups(group, iterations):
    winners_dict = {}
    finalists_dict = {}
    for i in range(iterations):
        gw = s.get_knockout_round_group(group, False) #gw = get_knockout_round(groups_list[YEAR], False)
        if gw[0] in winners_dict.keys():
            winners_dict[gw[0]] += 1
        else:
            winners_dict[gw[0]] = 1
            
        gw_set = frozenset(gw)
        if gw_set in finalists_dict.keys():
            finalists_dict[gw_set] += 1
        else:
            finalists_dict[gw_set] = 1


    print(f"Results for {YEAR} World Cup...")

    print("Most common group winners")        
    for team, num in sorted(winners_dict.items(), key=lambda x:x[1], reverse=True):
        print(f"{team}: {round((num / iterations) * 100, 1)}%")

    print("\nMost common final fours")
    for teams, num in sorted(finalists_dict.items(), key=lambda x:x[1], reverse=True):
        print(f"{list(teams)}: {round((num / iterations) * 100, 1)}%")

for group in groups_list[YEAR]:
    print(group)
    evaluate_groups(group, 100)
    print('\n\n')

['Uruguay', 'Russia', 'Saudi Arabia', 'Egypt']
Results for 2018 World Cup...
Most common group winners
Uruguay: 67.0%
Egypt: 15.0%
Russia: 11.0%
Saudi Arabia: 7.0%

Most common final fours
['Uruguay', 'Russia']: 34.0%
['Uruguay', 'Egypt']: 31.0%
['Uruguay', 'Saudi Arabia']: 23.0%
['Egypt', 'Russia']: 7.0%
['Egypt', 'Saudi Arabia']: 4.0%
['Saudi Arabia', 'Russia']: 1.0%



['Spain', 'Portugal', 'Iran', 'Morocco']
Results for 2018 World Cup...
Most common group winners
Spain: 57.0%
Portugal: 38.0%
Iran: 4.0%
Morocco: 1.0%

Most common final fours
['Portugal', 'Spain']: 69.0%
['Iran', 'Portugal']: 10.0%
['Iran', 'Spain']: 8.0%
['Morocco', 'Spain']: 8.0%
['Portugal', 'Morocco']: 5.0%



['France', 'Denmark', 'Peru', 'Australia']
Results for 2018 World Cup...
Most common group winners
France: 60.0%
Peru: 27.0%
Denmark: 10.0%
Australia: 3.0%

Most common final fours
['France', 'Peru']: 50.0%
['France', 'Denmark']: 28.0%
['Peru', 'Denmark']: 8.0%
['Australia', 'France']: 8.0%
['Australia', 'Peru']: 4.0%
['Australia', 'Denmark']: 2.0%



['Croatia', 'Argentina', 'Nigeria', 'Iceland']
Results for 2018 World Cup...
Most common group winners
Argentina: 67.0%
Croatia: 24.0%
Iceland: 8.0%
Nigeria: 1.0%

Most common final fours
['Argentina', 'Croatia']: 53.0%
['Iceland', 'Argentina']: 27.0%
['Iceland', 'Croatia']: 10.0%
['Argentina', 'Nigeria']: 8.0%
['Nigeria', 'Croatia']: 2.0%



['Brazil', 'Switzerland', 'Serbia', 'Costa Rica']
Results for 2018 World Cup...
Most common group winners
Brazil: 82.0%
Switzerland: 13.0%
Serbia: 4.0%
Costa Rica: 1.0%

Most common final fours
['Brazil', 'Switzerland']: 60.0%
['Brazil', 'Serbia']: 23.0%
['Brazil', 'Costa Rica']: 14.0%
['Costa Rica', 'Serbia']: 2.0%
['Switzerland', 'Serbia']: 1.0%



['Sweden', 'Mexico', 'South Korea', 'Germany']
Results for 2018 World Cup...
Most common group winners
Germany: 77.0%
Mexico: 13.0%
Sweden: 8.0%
South Korea: 2.0%

Most common final fours
['Germany', 'Mexico']: 46.0%
['Germany', 'Sweden']: 31.0%
['South Korea', 'Germany']: 19.0%
['Sweden', 'Mexico']: 3.0%
['South Korea', 'Sweden']: 1.0%



['Belgium', 'England', 'Tunisia', 'Panama']
Results for 2018 World Cup...
Most common group winners
Belgium: 47.0%
England: 45.0%
Tunisia: 5.0%
Panama: 3.0%

Most common final fours
['Belgium', 'England']: 69.0%
['Belgium', 'Tunisia']: 11.0%
['Panama', 'England']: 8.0%
['Panama', 'Belgium']: 7.0%
['England', 'Tunisia']: 4.0%
['Panama', 'Tunisia']: 1.0%



['Colombia', 'Japan', 'Senegal', 'Poland']
Results for 2018 World Cup...
Most common group winners
Colombia: 65.0%
Poland: 18.0%
Japan: 9.0%
Senegal: 8.0%

Most common final fours
['Colombia', 'Poland']: 49.0%
['Colombia', 'Senegal']: 26.0%
['Colombia', 'Japan']: 16.0%
['Japan', 'Poland']: 4.0%
['Senegal', 'Japan']: 3.0%
['Senegal', 'Poland']: 2.0%

In [13]:
rankings[rankings["Year"] == YEAR][:15]
# NOTE: 199/900 world cup games end in draw  # 0.2211111111111111
# NOTE: 10084/43752 of all games end in draw. # 0.2304808923020662

      Rank         Team    Score  Year
3961     1       Brazil  2121.91  2018
3962     2      Germany  2099.42  2018
3963     3        Spain  2039.00  2018
3964     4       France  1986.47  2018
3965     5    Argentina  1984.39  2018
3966     6     Portugal  1983.57  2018
3967     7      England  1937.57  2018
3968     8     Colombia  1929.62  2018
3969     9      Belgium  1928.18  2018
3970    10        Italy  1901.35  2018
3971    11  Netherlands  1900.22  2018
3972    12         Peru  1895.30  2018
3973    13      Uruguay  1878.16  2018
3974    14  Switzerland  1873.08  2018
3975    15        Chile  1866.28  2018